---
layout: page
---
<div class="img">  
    {% for image in page.imgs %}
        <img alt="{{image}}" src="/{{page.folder}}/{{image}}" style="object-fit:fill;height:150;width:150"/>  
    {% endfor %}
</div>
{{ content }}
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
      $('.img').slick({
        dots: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
      });
    });
</script>