---
layout: page
---
{% if page.imgs %}
<div class="img">  
    {% for image in page.imgs %}
        <img class="image" alt="{{image}}" src="{{site.url}}/{{page.folder}}/{{image}}"/>  
    {% endfor %}
</div>
{% endif %}
{{ content }}
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
      $('.img').slick({
        dots: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
      });
    });
</script>
<style type="text/css">

.image {
        border-radius: 100px;
}
</style>